.footer {
	padding: 20px 40px;
	background-color: black;
}

.footer__container::before {
	content: "";
	width: 100%;
	border-top: 2px solid white;
}

.footer__container {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: white;
}
