.arrow-nav {
	position: fixed;
	right: 40px;
}

.arror-nav_direction-up {
	top: 25%;
}

.arror-nav_direction-down {
	top: 75%;
}

.arrow-nav__part {
	display: block;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
}

.arrow-nav__part_direction-up {
	border-top: 5px solid #337ab7;
	border-left: 5px solid #337ab7;
	margin: -20px 0;
	animation: arrow-nav-up 2.5s infinite;
}

.arrow-nav__part_direction-down {
	border-bottom: 5px solid #337ab7;
	border-right: 5px solid #337ab7;
	margin: -20px 0;
	animation: arrow-nav-down 2.5s infinite;
}

.arrow-nav__part_direction-up:nth-child(2),
.arrow-nav__part_direction-down:nth-child(2) {
	animation-delay: 0.5s;
}

.arrow-nav__part_direction-up:nth-child(3),
.arrow-nav__part_direction-down:nth-child(1) {
	animation-delay: 1s;
}

@keyframes arrow-nav-up {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
}

@keyframes arrow-nav-down {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}
