<header class="header-main" id="top">
	<div class="header-content">
		<h1 class="header-content__title" data-text="ВЕНЕРА">ВЕНЕРА</h1>
	</div>
	<nav>
		<div class="arrow-nav arror-nav_direction-up">
			<span class="arrow-nav__part arrow-nav__part_direction-up"></span>
			<span class="arrow-nav__part arrow-nav__part_direction-up"></span>
			<span class="arrow-nav__part arrow-nav__part_direction-up"></span>
		</div>
		<div class="arrow-nav arror-nav_direction-down">
			<span class="arrow-nav__part arrow-nav__part_direction-down"></span>
			<span class="arrow-nav__part arrow-nav__part_direction-down"></span>
			<span class="arrow-nav__part arrow-nav__part_direction-down"></span>
		</div>
	</nav>
</header>
