<main class="main-content">
	<article class="main-content__article">
		<section class="info-section info-section_quote">
			<blockquote class="info__quote">
				<p class="quote-text">В небе сияет так много звезд, так много красивых вещей подмигивают
					вам, но когда выходит Венера, всё
					остальное тускнеет и уходит на задний план.</p>
				<p class="quote-footer">— <cite>Мехмет Мурат Ильдан</cite></p>
			</blockquote>
		</section>
		<section class="info-section info-section_intro">
			<img class="info-section__img info-section__img_intro" src="assets/images/venus_earth_mars_compare.png"
			     alt="Сравнение размеров Венеры, Земли и Марса">
			<p class="info-section__text"> Долгие годы взор человечества был устремлён к звёздам, но те всё ещё
				остаются для нас недостижимо далёкими. И потому в эпоху первых робких космических полётов мы
				присматриваемся к нашим ближайшим соседям — Венере и Марсу.</p>
		</section>
		<section class="info-section info-section_nightsky">
			<img class="info-section__img info-section__img_nightsky" src="assets/images/venus_on_night_sky.png"
			     alt="Венера невооружённым глазом">
			<p class="info-section__text"> Венеру можно увидеть невооруженным взглядом в утренние и вечерние часы в
				виде самой яркой звезды небосклона. Именно поэтому её часто называют Вечерней или Утренней звездой.
			</p>
		</section>
		<section class="info-section info-section_facts">
			<h2 class="info-section__header"> А что мы знаем о Венере?</h2>
			<div class="facts">
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts" src="assets/images/facts/1.Venus_birth.png"
					     alt="Рождение Венеры">
					<p class="info-section__text info-section__text_black"> Венера названа в честь богини любви и
						красоты из римского
						пантеона из-за того, что она сияла ярче остальных четырех планет, известных на то время
						древним астрономам.</p>
				</div>
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts" src="assets/images/facts/2.Times.png"
					     alt="Венерианские сутки и год">
					<p class="info-section__text info-section__text_black"> Один день на Венере равен 243
						земным суткам, а год — 224,7! То есть венерианский год короче суток. </p>
				</div>
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts" src="assets/images/facts/3.Rise_on_Venus.png"
					     alt="Восход на Венере">
					<p class="info-section__text info-section__text_black"> Венера вращается в обратном направлении
						по сравнению с другими планетами. Это означает, что Солнце на планете встает на западе и
						заходит на востоке. </p>
				</div>
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts" src="assets/images/facts/4.Venus_atmosphere.png"
					     alt="Атмосфера Венеры">
					<p class="info-section__text info-section__text_black"> Атмосфера Венеры состоит в основном из
						углекислого газа и азота. Поверхность планеты полностью скрывают чрезвычайно густые облака,
						состоящие из капель серной кислоты. </p>
				</div>
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts" src="assets/images/facts/5.Venus_pressure.png"
					     alt="Давление Венеры">
					<p class="info-section__text info-section__text_black"> На поверхности Венеры давление в 93 раза
						больше, чем на Земле. Большая часть исследовательских космических кораблей была раздавлена
						через считанные минуты после посадки на поверхность. </p>
				</div>
				<div class="fact__item">
					<img class="info-section__img info-section__img_facts"
					     src="assets/images/facts/6.Venus_temperature.png" alt="Температура Венеры">
					<p class="info-section__text info-section__text_black"> Средняя температура поверхности
						планеты — около 462 &#8451;, что делает это место, по мнению учёных, невозможным для
						обитания (в том числе и инопланетян). Венера — самая горячая планета Солнечной системы.</p>
				</div>
			</div>
			<h2 class="info-section__header"> Венера — это ад. <br>
				Но так было не всегда...</h2>
		</section>
		<section class="info-section info-section_venus-water">
			<div class="venus-water">
				<p class="info-section__text">Новые компьютерные модели позволили предположить, что Венера могла
					быть
					пригодной для жизни в течение
					двух-трёх миллиардов лет, причём возможно, она могла сохранять такие условия и по сей день.
					Однако
					предположительно 700 миллионов лет назад атмосфера планеты претерпела радикальную трансформацию,
					и
					учёные пытаются понять, что её вызвало.</p>
				<img class="info-section__img info-section__img_venus-water" src="assets/images/venus_long_ago.png"
				     alt="Венера с водой">
			</div>
			<h2 class="info-section__header info-section__header_color-white"> Сможем ли мы жить на Венере?..</h2>
		</section>

		<section class="info-section info-section_future">
			<h2 class="info-section__header "> Как это ни странно, но да!</h2>
			<div class="venus-future">
				<img class="info-section__img info-section__img_venus-future" src="assets/images/venus_atmosphere_plot.png"
				     alt="График температур в зависимости от высоты">
				<p class="info-section__text info-section__text_black"> Проблема Венеры в том, что поверхность
					находится слишком далеко от уровня давления в одну земную атмосферу. Но тем не менее, атмосфера
					Венеры — это самая похожая на земную среда в Солнечной системе. В
					50 километрах над поверхностью, Венера оказывается чрезвычайно дружелюбной. Смущать будет разве
					что отсутствие кислорода для дыхания.</p>
			</div>
			<h2 class="info-section__header "> Выход есть — города в облаках!</h2>
			<div class="venus-future">
				<img class="info-section__img info-section__img_venus-town" src="assets/images/venus_SW_cloud_town.png"
				     alt="Город в облаках на Венере">
				<p class="info-section__text info-section__text_black">
					Колонии Венеры будут, скорее всего, выглядеть как огромные облачные города. Плавающие
					конструкции и дирижабли из легкого, но прочного материала позволят этим городам быть мобильными
					и устойчивыми в активной атмосфере Венеры.Дирижабли могут быть покрыты солнечными панелями, что
					позволит использовать энергию Солнца.
				</p>
			</div>
		</section>

		<section class="info-section info-slider">
			<h2 class="info-section__header "> Изображения из разных источников</h2>
			<div class="slider">
				<button class="slider__btn slider__btn_dir-prev">&#10094;</button>
				<img class="slider__img" src="assets/images/slider/image-1.png">
				<button class="slider__btn slider__btn_dir-next">&#10095;</button>
			</div>
		</section>

		<section class="info-section info-resources">
			<h2 class="info-section__header info-section__header_color-white"> Полезные ресурсы</h2>
			<p class="info-section__text info-resources__text">Узнать самые свежие новости о Венере можно здесь</p>
			<ul class="info-resources__links">
				<li class="resource-link">
					<a class="resource-link__a" href="https://in-space.ru/planeta-venera/"><img
						class="resource-link__img" src="assets/images/resourses/in-space.png" alt="In-space"></a>
				</li>
				<li class="resource-link">
					<a class="resource-link__a" href="http://akatsuki.isas.jaxa.jp/en/"><img
						class="resource-link__img" src="assets/images/resourses/logo-akatsuki-large.png"
						alt="Akatsuki"></a>
				</li>
				<li class="resource-link">
					<a class="resource-link__a" href="https://indicator.ru/label/venera"><img
						class="resource-link__img" src="assets/images/resourses/Indicator.svg" alt="Indicator"></a>
				</li>
				<li class="resource-link">
					<a class="resource-link__a" href="https://solarsystem.nasa.gov/planets/venus/overview/"><img
						class="resource-link__img" src="assets/images/resourses/nasa.png" alt="NASA"></a>
				</li>
			</ul>
		</section>
	</article>
</main>
