<section class="section section_white">
	<h2 class="section__header section__header_black">А что мы знаем о Венере?</h2>
	<div class="section__facts facts">
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Venus_birth.webp" alt="Рождение Венеры">
			<p class="section__text section__text_black section__text_center">
				Венера названа в честь богини любви и	красоты из римского	пантеона из-за того, что она сияла ярче остальных
				четырех планет, известных на то время древним астрономам.
			</p>
		</div>
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Times.webp" alt="Венерианские сутки и год">
			<p class="section__text section__text_black section__text_center">
				Один день на Венере равен 243	земным суткам, а год — 224,7! То есть венерианский год короче суток.
			</p>
		</div>
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Rise_on_Venus.webp" alt="Восход на Венере">
			<p class="section__text section__text_black section__text_center">
				Венера вращается в обратном направлении по сравнению с другими планетами. Это означает, что Солнце на планете
				встает на западе и заходит на востоке.
			</p>
		</div>
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Venus_atmosphere.webp" alt="Атмосфера Венеры">
			<p class="section__text section__text_black section__text_center">
				Атмосфера Венеры состоит в основном из углекислого газа и азота. Поверхность планеты полностью скрывают
				чрезвычайно густые облака, состоящие из капель серной кислоты.
			</p>
		</div>
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Venus_pressure.webp" alt="Давление Венеры">
			<p class="section__text section__text_black section__text_center">
				На поверхности Венеры давление в 93 раза больше, чем на Земле. Большая часть исследовательских космических
				кораблей была раздавлена через считанные минуты после посадки на поверхность.
			</p>
		</div>
		<div class="facts__item">
			<img class="facts__img" src="assets/images/facts/Venus_temperature.webp" alt="Температура Венеры">
			<p class="section__text section__text_black section__text_center">
				Средняя температура поверхности	планеты — около 462 &#8451;, что делает это место, по мнению учёных, невозможным для
				обитания (в том числе и инопланетян). Венера — самая горячая планета Солнечной системы.
			</p>
		</div>
	</div>
	<h2 class="section__header section__header_black">
		Венера — это ад. Но так было не всегда...
	</h2>
</section>
