<section class="info-section info-section_facts">
	<h2 class="info-section__header"> А что мы знаем о Венере?</h2>
	<div class="facts">
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts" src="assets/images/facts/1.Venus_birth.png"
			     alt="Рождение Венеры">
			<p class="info-section__text info-section__text_black"> Венера названа в честь богини любви и
				красоты из римского
				пантеона из-за того, что она сияла ярче остальных четырех планет, известных на то время
				древним астрономам.</p>
		</div>
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts" src="assets/images/facts/2.Times.png"
			     alt="Венерианские сутки и год">
			<p class="info-section__text info-section__text_black"> Один день на Венере равен 243
				земным суткам, а год — 224,7! То есть венерианский год короче суток. </p>
		</div>
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts" src="assets/images/facts/3.Rise_on_Venus.png"
			     alt="Восход на Венере">
			<p class="info-section__text info-section__text_black"> Венера вращается в обратном направлении
				по сравнению с другими планетами. Это означает, что Солнце на планете встает на западе и
				заходит на востоке. </p>
		</div>
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts" src="assets/images/facts/4.Venus_atmosphere.png"
			     alt="Атмосфера Венеры">
			<p class="info-section__text info-section__text_black"> Атмосфера Венеры состоит в основном из
				углекислого газа и азота. Поверхность планеты полностью скрывают чрезвычайно густые облака,
				состоящие из капель серной кислоты. </p>
		</div>
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts" src="assets/images/facts/5.Venus_pressure.png"
			     alt="Давление Венеры">
			<p class="info-section__text info-section__text_black"> На поверхности Венеры давление в 93 раза
				больше, чем на Земле. Большая часть исследовательских космических кораблей была раздавлена
				через считанные минуты после посадки на поверхность. </p>
		</div>
		<div class="fact__item">
			<img class="info-section__img info-section__img_facts"
			     src="assets/images/facts/6.Venus_temperature.png" alt="Температура Венеры">
			<p class="info-section__text info-section__text_black"> Средняя температура поверхности
				планеты — около 462 &#8451;, что делает это место, по мнению учёных, невозможным для
				обитания (в том числе и инопланетян). Венера — самая горячая планета Солнечной системы.</p>
		</div>
	</div>
	<h2 class="info-section__header"> Венера — это ад. <br>
		Но так было не всегда...</h2>
</section>
