<section class="section section_white">
	<h2 class="section__header">Как это ни странно, но да!</h2>
	<div class="section__future">
		<img
			class="section__future-img"
			src="assets/images/venus_atmosphere_plot.webp"
			alt="График температур в зависимости от высоты"
		>
		<p class="section__text section__text_black section__text_center">
			Проблема Венеры в том, что поверхност	находится слишком далеко от уровня давления в одну земную атмосферу. Но
			тем не менее, атмосфера	Венеры — это самая похожая на земную среда в Солнечной системе. В	50 километрах над поверхностью, Венера оказывается чрезвычайно дружелюбной. Смущать будет разве что отсутствие кислорода для дыхания.
		</p>
	</div>

	<h2 class="section__header">Выход есть — города в облаках!</h2>
	<div class="section__future">
		<img
			class="section__future-img section__future-img_round"
			src="assets/images/venus_SW_cloud_town.webp"
			alt="Город в облаках на Венере">
		<p class="section__text section__text_black section__text_center">
			Колонии Венеры будут, скорее всего, выглядеть как огромные облачные города. Плавающие	конструкции и дирижабли
			из легкого, но прочного материала позволят этим городам быть мобильными	и устойчивыми в активной атмосфере Венеры. Дирижабли могут быть покрыты солнечными панелями, что	позволит использовать энергию Солнца.
		</p>
	</div>
</section>
