<section class="info-section info-section_future">
	<h2 class="info-section__header "> Как это ни странно, но да!</h2>
	<div class="venus-future">
		<img class="info-section__img info-section__img_venus-future" src="assets/images/venus_atmosphere_plot.png"
		     alt="График температур в зависимости от высоты">
		<p class="info-section__text info-section__text_black"> Проблема Венеры в том, что поверхность
			находится слишком далеко от уровня давления в одну земную атмосферу. Но тем не менее, атмосфера
			Венеры — это самая похожая на земную среда в Солнечной системе. В
			50 километрах над поверхностью, Венера оказывается чрезвычайно дружелюбной. Смущать будет разве
			что отсутствие кислорода для дыхания.</p>
	</div>
	<h2 class="info-section__header "> Выход есть — города в облаках!</h2>
	<div class="venus-future">
		<img class="info-section__img info-section__img_venus-town" src="assets/images/venus_SW_cloud_town.png"
		     alt="Город в облаках на Венере">
		<p class="info-section__text info-section__text_black">
			Колонии Венеры будут, скорее всего, выглядеть как огромные облачные города. Плавающие
			конструкции и дирижабли из легкого, но прочного материала позволят этим городам быть мобильными
			и устойчивыми в активной атмосфере Венеры.Дирижабли могут быть покрыты солнечными панелями, что
			позволит использовать энергию Солнца.
		</p>
	</div>
</section>
