<section class="section section_black">
	<div class="section__intro">
		<img
			class="section__intro-img"
			src="assets/images/venus_earth_mars_compare.webp"
			alt="Сравнение размеров Венеры, Земли и Марса"
		>
		<p class="section__text section__text_white section__text_center">
			Долгие годы взор человечества был устремлён к звёздам, но те всё ещё остаются для нас недостижимо далёкими. И
			потому в эпоху первых робких космических полётов мы присматриваемся к нашим ближайшим соседям — Венере и Марсу.
		</p>
	</div>
</section>
