<section class="info-section info-resources">
	<h2 class="info-section__header info-section__header_color-white"> Полезные ресурсы</h2>
	<p class="info-section__text info-resources__text">Узнать самые свежие новости о Венере можно здесь</p>
	<ul class="info-resources__links">
		<li class="resource-link">
			<a class="resource-link__a" href="https://in-space.ru/planeta-venera/"><img
				class="resource-link__img" src="assets/images/resourses/in-space.png" alt="In-space"></a>
		</li>
		<li class="resource-link">
			<a class="resource-link__a" href="http://akatsuki.isas.jaxa.jp/en/"><img
				class="resource-link__img" src="assets/images/resourses/logo-akatsuki-large.png"
				alt="Akatsuki"></a>
		</li>
		<li class="resource-link">
			<a class="resource-link__a" href="https://indicator.ru/label/venera"><img
				class="resource-link__img" src="assets/images/resourses/Indicator.svg" alt="Indicator"></a>
		</li>
		<li class="resource-link">
			<a class="resource-link__a" href="https://solarsystem.nasa.gov/planets/venus/overview/"><img
				class="resource-link__img" src="assets/images/resourses/nasa.png" alt="NASA"></a>
		</li>
	</ul>
</section>
