<section class="section section_black">
	<h2 class="section__header section__header_white">Полезные ресурсы</h2>
	<ul class="resources">
		<li class="resources__item">
			<a class="resources__link" href="https://in-space.ru/planeta-venera/">
				<img class="resources__link-img" src="assets/images/resourses/in-space.webp" alt="In-space">
			</a>
		</li>
		<li class="resources__item">
			<a class="resources__link" href="http://akatsuki.isas.jaxa.jp/en/">
				<img class="resources__link-img" src="assets/images/resourses/logo-akatsuki-large.webp" alt="Akatsuki">
			</a>
		</li>
		<li class="resources__item">
			<a class="resources__link" href="https://indicator.ru/label/venera">
				<img class="resources__link-img" src="assets/images/resourses/Indicator.svg" alt="Indicator">
			</a>
		</li>
		<li class="resources__item">
			<a class="resources__link" href="https://solarsystem.nasa.gov/planets/venus/overview/">
				<img class="resources__link-img" src="assets/images/resourses/nasa.webp" alt="NASA">
			</a>
		</li>
	</ul>
</section>
