<section class="section section_black">
	<h2 class="section__header section__header_white">Изображения из разных источников</h2>

	<div id="slider" class="slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img class="slider__img" src="assets/images/slider/image-1.webp">
			</div>
			<div class="swiper-slide">
				<img class="slider__img" src="assets/images/slider/image-2.webp">
			</div>
			<div class="swiper-slide">
				<img class="slider__img" src="assets/images/slider/image-3.webp">
			</div>
			<div class="swiper-slide">
				<img class="slider__img" src="assets/images/slider/image-4.webp">
			</div>
			<div class="swiper-slide">
				<img class="slider__img" src="assets/images/slider/image-5.webp">
			</div>
		</div>

		<div class="slider__pagination"></div>
	</div>
</section>
