<section class="info-section info-section_venus-water">
	<div class="venus-water">
		<p class="info-section__text">Новые компьютерные модели позволили предположить, что Венера могла
			быть
			пригодной для жизни в течение
			двух-трёх миллиардов лет, причём возможно, она могла сохранять такие условия и по сей день.
			Однако
			предположительно 700 миллионов лет назад атмосфера планеты претерпела радикальную трансформацию,
			и
			учёные пытаются понять, что её вызвало.</p>
		<img class="info-section__img info-section__img_venus-water" src="assets/images/venus_long_ago.png"
		     alt="Венера с водой">
	</div>
	<h2 class="info-section__header info-section__header_color-white"> Сможем ли мы жить на Венере?..</h2>
</section>
