<section class="section section_black">
	<div class="section__venus-water">
		<p class="section__text section__text_white section__text_center">
			Новые компьютерные модели позволили предположить, что Венера могла быть пригодной для жизни в течение
			двух-трёх миллиардов лет, причём возможно, она могла сохранять такие условия и по сей день.	Однако
			предположительно 700 миллионов лет назад атмосфера планеты претерпела радикальную трансформацию, и учёные
			пытаются понять, что её вызвало.
		</p>
		<img class="section__venus-water-img" src="assets/images/venus_long_ago.webp" alt="Венера с водой">
	</div>
	<h2 class="section__header section__header_white">Сможем ли мы жить на Венере?..</h2>
</section>
