.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: black;

	&__content {
		//position: relative;
		width: 1024px;
		height: 1024px;
		//margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: black url(../assets/images/venus.webp) no-repeat center top/contain;
		background-size: auto;
	}

	&__content-title {
		//position: relative;
		margin: 0;
		font-family: "Playfair Display", serif;
		font-weight: normal;
		font-size: 3.5em;
		letter-spacing: 10px;
		text-shadow: 3px 3px 3px rgba(201, 120, 95, 0.7);
		color: white;
		transform: translate(-50%, -50%);

		&:before {
			content: attr(data-text);
			position: absolute;
			transform-origin: bottom;
			transform: rotateX(180deg);
			line-height: 1em;
			background: linear-gradient(0deg, #ffcd93 0, rgba(255, 255, 255, 0) 85%);
			background-clip: text;
			-webkit-background-clip: text;
			color: rgba(0, 0, 0, 0);
			opacity: 0.5;
			text-shadow: none;
		}
	}
}
